<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pagina_info.css')}}">

    <style>
        html, body {
            background-image: url("{{url_for('static', filename='images/bg-image.png')}}");
            background-size: 500px;
        }
    </style>
</head>
<body>

    <header class="main-header">
        <div class="logo">
            <h1>START! - ONGS EM VERTIGEM - Página do Projeto</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{{url_for('register')}}">Registrar-se</a></li>
                <li><a href="{{url_for('login')}}">Entrar</a></li>
            </ul>
        </nav>
    </header>

     
</body>
</html>