<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pagina_acesso.css')}}">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" action="{{url_for('login')}}" method="post">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <input type="email" placeholder="Seu e-mail" name="email" required>
            <input type="password" placeholder="Sua senha" name="senha" required>

            <button>login</button>

            <p class="message">Não possui uma conta? <a href="{{url_for('register')}}">Criar conta</a></p>
          </form>
        </div>
      </div>
</body>
</html>