/* Estilo global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Página de login centralizada */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #ced3ce;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }

/* Estilo do contêiner de login */
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

/* Formulário */
.form {
    background: #ffffffdb;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}

.form input {
    font-family: 'Arial', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 10px 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

.form button {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    margin: 25px 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    
}

.form button:hover {
    background: #43A047;
}

/* Placeholder */
.form input::placeholder {
    color: #BDBDBD;
}

/* Animação ao focar no input */
.form input:focus {
    background: #e0e0e0;
}

/* Para telas menores */
@media (max-width: 600px) {
    .login-page {
        width: 90%;
    }
}
