body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
    background-size: 500px; /* Define o tamanho da imagem de fundo */
    background-repeat: repeat; /* Permite a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* A imagem permanece fixa durante o scroll */
    font-family: Arial, sans-serif;
}

/* Header */
.main-header {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; /* Aumenta a altura do header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.logo h1 {
    margin: 0;
    font-size: 28px; /* Aumenta o tamanho do título */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #cce7ff;
}

/* Form Section */
.form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Footer Button */
.baixar {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    margin-top: 20px; /* Adiciona um espaço acima do botão, se necessário */
}

.baixar button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px 30px; /* Aumenta o padding para aumentar o tamanho do botão */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Define uma largura fixa se desejar um tamanho consistente */
}

.baixar button:hover {
    background-color: #45a049;
}

.baixar button svg {
    margin-right: 5px; /* Espaçamento à direita do ícone */
    vertical-align: middle; /* Alinha verticalmente o ícone com o texto */
    fill: white; /* Muda a cor do ícone (opcional) */
}
