body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Distância entre o header e o restante do conteúdo */
    margin: 0;
    background-color: #fff;
    background-size: 500px;
    background-repeat: repeat;
}

/* Header */
.main-header {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; /* Aumenta a altura do header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.logo h1 {
    margin: 0;
    font-size: 28px; /* Aumenta o tamanho do título */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #cce7ff;
}

/* Form Section */
.form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 0 0; /* Aumenta a distância entre o header e o formulário/card */
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.titulo {
    background-color: #4CAF50;
    color: #fff;
    padding: 16px;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #fff;
}
